<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample1</title>
</head>
<style>
    h1{
        background-color: pink;
        color: blue;
    }
    h2{
        background-color: tomato;
        color: aqua;
    }
    h3{
        background-color: crimson;
        color: chartreuse;
    }
    h4{
        background-color: pink;
        color: blue;
    }
    h5{
        background-color: tomato;
        color: aqua;
    }
    h6{
        background-color: crimson;
        color: chartreuse;
    }

</style>
<body>
    <center>
        <h6>OM NAMO VENKATESHAYA</h6>
        <h5>OM NAMO VENKATESHAYA</h5>
        <h4>OM NAMO VENKATESHAYA</h4>
        <h3>OM NAMO VENKATESHAYA</h3>
        <h2>OM NAMO VENKATESHAYA</h2>
        <h1>OM NAMO VENKATESHAYA</h1>
    </center>
    
</body>
</html>