<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample</title>
    <style>
        h1{
            background-color: aqua;
            color: tomato;
        }
        h2{
            background-color: blue;
            color: red;
        }
    </style>
</head>
<body>
    <center>
        <h1>singleton class is a design pattern in python that allows in class to create only one abject in its life time</h1>
        <h2>iterator is an object that is created by using iter method on iterables</h2>
    </center>
    
</body>
</html>